.corpo {
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    display: flex;
    background-color: #000000;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    color: #DA0037;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Press Start 2P', cursive;
    grid-area: "cabecalho";
    padding-top: 6px;
}

footer, .rodape {
    grid-area: "rodape";
}

/*                 Barra de Scroll                   */

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

@media screen and (min-width:0){
    .corpo {
        transform: scale(1.0);
        transform-origin: 0 0;
    }
}

@media screen and (min-width:768px){

}